node_modules
ncp-debug.log
npm-debug.log
bower_component

.DS_STORE

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Other IDEs and editors
.idea/
*.iml
*.swp
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace
