form {
  label {
    &.radio,
    &.checkbox {
      font-size: $font-size-base;
      text-transform: none;
      cursor: pointer;
    }
  }
}

.form-horizontal {
  .checkbox,
  .radio {
    padding-top: 0;

    &:first-child,
    &.checkbox-inline,
    &.radio-inline {
      margin-top: 10px;
    }
  }
}

.star {
  color: $danger-color;
  padding-left: 3px;
}

.cssi-form {
  .form-group > label {
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    color: $default-color;
    margin-bottom: 0px;

    &.error {
      text-transform: none;
      color: $danger-color;
    }
    i {
      font-size: $font-paragraph;
    }
  }

  .form-group > label {
    font-size: $font-size-small;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  .group-label {
    color: $default-color;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
  }
}

@media (min-width: $screen-md-min) {
  .form-horizontal {
    .control-label {
      padding-top: 12px !important;
    }
    code {
      margin-top: 8px;
      display: inline-block;
    }
  }
}
